<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Allow Face ID to access stored credentials</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME)  needs access to the camera, to be able to read barcodes.</string>
	<key>NFCReaderUsageDescription</key>
	<string>$(PRODUCT_NAME) needs access to the NFC, to be able to read cards.</string>
</dict>
</plist>
